{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content%}
<div class="container py-5 d-flex justify-content-center">
    <form method="POST" class="p-4 rounded shadow-lg" style="width: 100%; max-width: 500px; background-color: #f8f9fa;">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="text-center text-primary border-bottom pb-2 mb-4" style="font-size: 1.5rem; font-weight: bold;">
                Update Record
            </legend>
            {{ add_record_form|crispy }}
        </fieldset>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary w-100 py-2" style="font-size: 1rem; font-weight: 500;">
                Update
            </button>
        </div>
    </form>
</div>

{% endblock %}